body{
    background-color: #f1f1f1;
    background-image: url("../img/lakers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: white;
}


.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio h1{
    font-size: 100px;
    font-family: "Arial";
    font-weight: 700;
    color: #f1f1f1;
}

.inicio img{
    border-radius: 100%;
    border: 5px solid white;
}

.historia{

    color: white;
}



h1{
    color: rgb(255, 255, 255);
}

h2{
    color: rgba(245, 245, 242, 0.89);
}

h3{
    color: rgb(251, 253, 251);
}
h4{
    color: rgb(248, 248, 248);
}
h5{
    color: rgb(237, 234, 235);
}
h6{
    color: rgb(252, 248, 248);
}


.primer-parrafo{
    color: rgb(8, 8, 8);
    font-size: 50px;
    font-family: "Arial";
    font-weight: 700;
}

.segundo-parrafo{
    color: rgb(6, 6, 6);
    font-size: 40px;
    font-family:cursive;
    font-weight: 800;
}

.galeria{
    display:flex;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, #0f0066 0%, #ce0a0a 100%) 1;
    overflow-x: scroll;
}

.galeria img{
    width: 350px;
    height: 350px
}

.lista{
color: #f1f1f1;


}



ul{

    color: #f1f1f1;
}
ol{
    color: #f1f1f1;
    .lista de jugadores{


        color: rgb(249, 251, 252);
    }

}



